<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.xdd.shiro.mapper.CheckPermissionMapper">
    <select id="getOneByCheckPermission" resultType="java.util.Map">
        SELECT
            *
        from
            ${tableName}
        where
            1 = 1
        <foreach collection="queryValues" item="queryValue" index="i">
            and ${queryFields[i]} = #{queryValue}
        </foreach>
    </select>
</mapper>