<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.xdd.shiro.mapper.UserMapper">
    <insert id="save" parameterType="com.java.xdd.shiro.pojo.User">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="getUserByUsername" resultType="com.java.xdd.shiro.pojo.User">
        SELECT
            *
        from
            user
        where
            username = #{value}
    </select>
</mapper>